.App {
	text-align: center;
	font-family: 'Hind Madurai', sans-serif;
	font-size: 1.2em;
	background-color: #282c34;
	position: absolute;
    top: 55px;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

main {
	margin: auto;
}

/* ************************** nav ************************** */

#topButton {
	display: none;
}

#nav {
	position: fixed;
	top: 0;
	background-color: whitesmoke;
	width: 100%;
	z-index: 2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

h1 {
	margin: 0;
	margin-left: 5px;
	vertical-align: 'center';
}

nav {
	z-index: 3;
	width: 450px;
	margin-right: 5px;
	display: flex;
	flex-direction: row;
}

.navButton {
	width: 130px;
	padding: 10px;
	margin: 1%;
	font-size: 20px;
}

/* ************************** main body ************************** */

#head, #about, #location, #contact {
	width: 92%;
	background-color: white;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 8px;
	border: 3px;
	border-style: groove;
	padding-bottom: 10px;
}

h2 {
	margin-bottom: 10px;
}

p {
	padding: 10px;
	margin: 0;
}

#top {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#doc {
	max-width: 400px;
	max-height: 280px;
	margin: 3%;
}

img {
	margin: 15px;
}

h3 {
	margin: 5px;
}

#hoursandmap {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

#hours {
	flex-basis: 40%;
	min-width: 250px;
}

#hours p {
	margin: 0;
	padding: 0;
}

iframe {
	flex-basis: 60%;
	width: 600px;
	height: 377px;
	border: 0;
	max-width: 90%;
}

/* ************************** contact form ************************** */

input, textarea {
	margin: 5px;
	width: 40%;
	min-width: 300px;
	font-size: 20px;
	padding: 10px;
}

form p {
	padding: 0;
}

form button {
	width: 40%;
	min-width: 300px;
	padding: 10px;
	font-size: 20px;
}

/* ************************** footer ************************** */

/* footer {
	padding: 20px;
} */

/* ************************** media queries ************************** */

@media screen and (max-width: 1250px) {
	#top {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 800px) {
	.App {
		top: 45px;
	}

	#nav {
		justify-items: center;
		margin: auto;
		justify-content: center;
		padding-left: 0;
		padding-right: 0;
	}

	h1 {
		font-size: 1.6em;
	}

	.navButton {
		padding: 5px;
	}
}

@media screen and (max-width: 735px) {
	.App {
		top: 80px;
	}
	
	.navButton {
		margin: 0;
	}

	#doc {
		width: 90%;
		height: 90%;
	}

	h2 {
		font-size: 1.2em;
	}
}
	
@media screen and (max-width: 570px) {
	.App {
		top: 38px;
	}
	
	#nav {
		position: relative;
		top: 0;
		padding: 0;
	}
	
	nav {
		width: 100%;
		position: fixed;
		top: 0;
		background-color: whitesmoke;
	}

	#topButton {
		display: block;
	}
}

@media screen and (max-width: 375px) {
	.App {
		top: 28px;
	}
	
	.navButton {
		width: 95px;
		font-size: 13px;
	}

	p {
		font-size: .8em;
		padding: 5px;
	}

	img {
		width: 90%;
		height: 90%;
	}

	input, textarea, form button {
		min-width: 85%;
		font-size: .8em;
	}

	footer {
		font-size: 14px;
	}
}