.App {
	text-align: center;
	font-family: 'Hind Madurai', sans-serif;
	font-size: 1.2em;
	background-color: #282c34;
	position: absolute;
	top: 72px;
	background-image: url('./bckgdblue.png');
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

main {
	width: 90%;
	margin: auto;
}

h1 {
	position: fixed;
	top: 0;
	background-color: rgb(138, 221, 228);
	width: 100%;
	z-index: 2;
	margin: 0;
	padding: 10px;
	border: 2px solid;
	border-color: #282c34;
}

/* ************************** nav ************************** */

nav {
	position: fixed;
	top: 0px;
	right: 10px;
	z-index: 3;
}

nav button {
	width: 130px;
	padding: 10px;
	margin: 15px;
	font-size: 20px;
}

/* ************************** main body ************************** */

#head, #about, #location, #contact {
	width: 96%;
	background-color: rgba(249, 249, 249, 0.9);
	padding: 10px 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 8px;
	border: 3px;
	border-style: groove;
}

#top {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

#topWords {
	flex-basis: 60%;
}

#doc {
	max-width: 400px;
	max-height: 280px;
	margin: 30px;
	flex-basis: 40%;
}

img {
	margin: 15px;
}

h3 {
	margin: 5px;
}

#hoursandmap {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

#hours {
	flex-basis: 40%;
	min-width: 250px;
}

iframe {
	flex-basis: 60%;
	width: 600px;
	height: 377px;
	border: 0;
	max-width: 90%;
}

/* ************************** contact form ************************** */

input, textarea {
	margin: 5px;
	width: 40%;
	min-width: 300px;
	font-size: 20px;
	padding: 10px;
}

form button {
	width: 40%;
	min-width: 300px;
	padding: 10px;
	font-size: 20px;
}

/* ************************** footer ************************** */

footer {
	padding: 20px;
}